/ConexionJava/Conexion/Conexion/nbproject/private/
/ConexionJava/Conexion/Conexion/build/
/ConexionJava/Conexion/target/
/ConexionBD/nbproject/private/
/ConexionBD/build/
.DS_Store
/TallerReturnQuery/nbproject/private/
/TallerReturnQuery/build/
/TallerXML/nbproject/private/
/TallerXML/build/
